# MCUVMS Environment Configuration Example
DB_NAME=mcuvms_db
DB_USER=mcuvms_user
DB_PASSWORD=mcuvms_password
DB_ROOT_PASSWORD=root_mcuvms_pass

APP_URL=http://localhost:8086
PMA_PORT=8088
DB_PORT=3310
